# This is a basic workflow to help you get started with Actions

name: push_nuget

# on push on master
on:
  push:
    branches:
      - master
    paths-ignore:
      - README.md

jobs:
  build:
    runs-on: windows-latest
    steps:
    - name: Git Checkout
      uses: actions/checkout@master

    - name: Add msbuild to PATH
      uses: microsoft/setup-msbuild@v1.0.3

    - name: Setup Nuget.exe
      uses: nuget/setup-nuget@v1

    - name: Publish VL Nuget
      uses: vvvv/PublishVLNuget@1.0.29
      with:
        nuspec: deployment\GithubPackageTest.nuspec
        nuget-key: ${{ secrets.NUGET_KEY }}
